<div class="container my-5">
  <div class="row mb-3">
    <div class="col">
      <button (click)="AddNew(0)" class="btn btn-sm btn-primary"><svg style="padding-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>Add New</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-image-info [data]="Imagedata"></app-image-info>
    </div>
  </div>
</div>