.table {
  margin-bottom: 0;
  border-radius: 2px;
}
.table th {
  background-color: #147ae0; 
  color:#fff;
  border:none;  
  font-weight: 200;
}
.table td {
  vertical-align: middle;}
  .img-thumbnail {
    border: 1px solid #dee2e6; 
    border-radius: 0.25rem; 
    padding: 0px;
    height: 43px;
}

/* #example > tbody > tr > td:nth-child(1){
  display: flex;
  justify-content: center;
} */

#example > tbody > tr > td:nth-child(4) > button:nth-child(1){
  padding: 2px;
  margin: 0px;
}

body > app-root > div > div.row.mb-3 > div > button > svg{
  padding-bottom: 3px;
}

#example > tbody > tr > td:nth-child(4) > button:nth-child(2){
  padding: 0px;
  margin: 0px;
}

#example > tbody > tr > td:nth-child(1) > span{
  padding-left: 6px;
}

.pagination {
    margin-top: 1rem; 
}

.page-item.disabled .page-link {
    color: #6c757d; 
    pointer-events: none; 
}

.page-link {
    color: #007bff; 
}

.page-link:hover {
    color: #0056b3; 
    text-decoration: underline; 
}